.GiaoHang{
    background-color: #76ff03;
}

.ThanhToan{
    background-color: #0D47A1;
}

.Huy{
    background-color: #c6ff00;
}

.InDonHang{
    background-color: #FF1744;
}

.classDangXuLy{
    background-color: #F4511E;
}

.classGiaoHang{
    background-color: #6633cc;
}

.classThanhToan{
    background-color: #88aa99;
}

.classHuy{
    background-color: #ff4488;
}